*{
              font-family: 'Inter', sans-serif;
}


.taskEmpty{
       margin-top: 2rem;
       display: grid;
       justify-content: center;
}
.taskEmpty>svg{
       margin: 0 auto;
}




.checkList{
       display: flex;
       width: 736px;
       flex-direction: column;
       border-top: 1px solid var(--Gray-300);
       border-radius: 8px;
       margin: 0 auto;
       justify-content: space-between;
       background: var(--Gray-500);

       
}
.checkList p{
       color: var(--gray-100);
       
}

.checkList button{
       background: transparent;
       border: transparent;
       cursor: pointer;
}

.inforLista{
       display: flex;
       align-items:center;
       justify-content: space-between;
       padding: 1rem;
       border-top: 1px solid var(--Gray-300);

       

}

.completed{
              text-decoration:line-through;
              opacity: 0.6;
}

